.container-fluid {
  margin: auto;
  width: auto;
  max-width: 1170px;
}

footer {
  padding-top: 30px;
}

.navbar .brand {
  font-weight: 700;
  font-size: 25px;
  color: #DA7E18;
}

.breadcrumb {
  border: 1px solid #88E4EC;
  background-color: #ffffff;
}

@media (min-width: 980px) {

  .index {
    padding-top: 40px;
  }

  .preview {
    padding-top: 60px;
  }
}

.page-header {
  margin: 5px 0;
}

/*.form-horizontal label {
 float: left;
 width: 160px;
 padding-top: 5px;
 text-align: right;
 }*/

