footer {
  padding-top: 30px;
}

.navbar-brand {
  font-weight: 700;
  font-size: 30px;
}

.breadcrumb {
  border: 1px solid #54B4EB;
  background-color: #fff;
}

.preview {
  padding-top: 50px;
}

.page-header {
  margin: 5px 0;
}


